@font-face {
  font-family: "FascinateInline";
  src: url("../assets/fonts/FascinateInline-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "FascinateInline";
  src: url("../assets/fonts/RibeyeMarrow-Regular.ttf") format("truetype");
  font-weight: 400;
}
